.footer_img{
    width: 1.5vw;
    margin: 3vh 2vh;  
}

.row{
    text-align: center;
    color: rgb(190, 176, 176);
    font-size: 10px;
    font-weight: bold;
    padding: .5vh;
}

.footer_copy{
    padding-bottom: 1vh;
    padding: .5vh;
    text-align: center;
    font-weight: bold;
    color:rgb(190, 176, 176);
}