<div class="row">
    <div class="box text-center">
        
        <a href="https://www.linkedin.com/in/deepti-b-33b475209/" target=" "><img class="footer_img" src="assets/linkedin.png" alt=""></a>
        <a href="https://www.facebook.com/deepti.bairagi/" target=" "><img class="footer_img" src="assets/facebook.png" alt=""></a>
        <a href="https://www.instagram.com/diptib1504/" target=" "><img class="footer_img" src="assets/insta.png" alt=""></a>
    </div>
    <div class="footer">Info Suport - Marketing</div>
    <div class="footer">Terms of Use - Privacy Policy</div>
    <div class="footer_copy">@2022 created - Dipti Bairagi</div>
</div>