.button {
    background-color: white;
    list-style: inside;
    
}

a {
    color: white;
    margin-left: 8vh;

}

a:hover {
    color: #ffbd39;
}

.navbar-toggler-icon {
    height: 5%;
    width: 5%;
}






/* If the screen size is 1200px wide or more, set the font-size to 80px (laptop) */


@media (min-width: 1200px) {
    .name {
        color: white;
        font-size: 4vh;
        padding-top: 5vh;
        padding-left: 5%;
        text-decoration: none;
        margin-right: 30%;
    }

    .navbar {
        padding-top: 5vh;
        font-size: 2.8vh;
        
    
    }
    #fixed_stiky{
        position: fixed;
        background-color: black;
        z-index: 2;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px (mobile) */
@media (max-width: 1200px) {
    .name {
        color: white;
        font-size: 3vh;
        text-decoration: none;
        text-align: left;
        margin-right: 12vh;
        padding-top: 1.5vh;
        padding-bottom: 1vh;
        }
    .navbar {
        padding-top: 3.5vh;
    }

    
}

