<!--....................Home page html..........................-->

<div id="carouselExampleSlidesOnly" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/cover1.png" class="d-block w-100" alt="...">
      <!-- <div class="absolute-div"> -->
      <div class="carousel-caption slide1">
        <div class="text-overlap">
          <span>HELLO!</span>
          <div>
            <strong>I'm Deepti Bairagi</strong>
          </div>
          <div class="home_para">
            <p>A Freelance Web Designer based in India.</p>
          </div>
          <br>
          <br>
          <a href="assets/Deepti_CV.docx" class="resume">Download Resume</a>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <div class="carousel-item">
      <img src="assets/cover2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption slide2">
        <span>HELLO!</span>
        <div>
          <strong>I am Web Designer</strong>
        </div>
        <div class="home_para">
          <p>I'm a web developer with extensive for over 5 years. My expertise is to create and design website, graphics
            desing and many more...</p>
        </div>
        <br>
        <a href="assets/Deepti_CV.docx" class="resume">Download Resume</a>
      </div>
    </div>
  </div>
</div>













<!--....................Contact page html..........................-->


<div class="container" id="target_contact">
  <div id="contact_me">
    <div>
      <small>If you want to connect with me</small>
    </div>
    <div>
      <p class="contact_para1">Contact Me</p>
    </div>
    <div>
      <p class="contact_para2">Far far away, behind the word mountains, you can find me here.</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row" id="contact_symbol_text">
    <div class="col-md-3">
      <img class="zoom_img" src="assets/addres.png" alt="">
      <br>
      <br>
      Address
      <br>
      <br>
      68, sudama nagar, ram tekeri, mandsaur (M.P.)
    </div>
    <div class="col-md-3">
      <img class="zoom_img" src="assets/contact.png" alt="">
      <br>
      <br>
      Contact Number
      <br>
      <br>
      +918835924740
    </div>
    <div class="col-md-3">
      <img class="zoom_img" src="assets/email.png" alt="">
      <br>
      <br>
      Email Address
      <br>
      <br>
      dipti.bairagi23@gmail.com
    </div>
    <div class="col-md-3">
      <img class="zoom_img" src="assets/web site.png" alt="">
      <br>
      <br>
      Website
      <br>
      <br>
      <a href="home" class="mysite">Mysite.com</a>
    </div>
  </div>
  <br>
</div>




<div class="container-fluid" id="form_page">
<div class="row" >
  <div class="col-md-6 col-sm-12 form_img_col">
    <img class="contact_img" src="../../../assets/contact_img.png" alt="">
  </div> 
  <div class="col-md-6 col-sm-12 from_text_col">

    <form action="">
      <div>
        <input type="text" id="name" placeholder="Your Name">
      </div>
      <br>
      <div>
        <input type="text" id="email" placeholder="Your Email">
      </div>
      <br>
      <div>
        <input type="text" id="subject" placeholder="Subject">
      </div>
      <br>
      <div>
        <textarea name="area" id="msg" placeholder="Message" cols="22" rows="5"></textarea>
      </div>
      <div>
        <button class="height" id="form_button">SEND MESSAGE</button>
      </div>
    </form>
  </div>
</div>
</div>