/* .......................Home page css............................ */


/* this is for text go up side */
.carousel-caption {
    position: absolute;
    z-index: 0;
    height: 100%;
}

/* text alignment css for both slide */

.text-overlap {
    text-align: left;
    padding-left: 10%;
    padding-top: 15%;
}

.slide2 {
    text-align: left;
    padding-left: 7%;
    padding-top: 12%;
}

/* css for download button */

.resume {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: gray;
    border-radius: 20vh;
    padding: 2vh;
}

.resume:hover {
    background-color: #ffbd39;
}


/* If the screen size is 1200px wide or more, set the font-size to 80px (laptop) */
@media (min-width: 1200px) {

    /* css for hello text */
    .carousel-caption span {
        font-size: 1.1vw;
        font-weight: bold;
        color: red;
        flex-wrap: wrap;
    }

    /* css for image */
    .carousel-item {
        /* height: 100vh; */
        background-size: cover;

    }

    .img{
        height: 100vh;
        opacity: 0.7;
    }

    /* css for my name deepti */
    strong {
        color: white;
        font-size: 8vh;
    }

    /* css for para */
    p {
        color: white;
        font-size: 1.3vw;
        width: 50%;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px (mobile) */
@media (max-width: 1200px) {

    /* css for hello text */
    .carousel-caption span {
        font-size: 4vw;
        font-weight: bold;
        color: red;
        flex-wrap: wrap;
    }

    /* css for image */
    .carousel-item {
        margin-top: 5vh;
        /* this for top margin for hello text */
        height: 43vh;
        background-size: cover;
    }

    /* css for my name deepti */
    strong {
        color: white;
        font-size: 7vw;

    }

    /* css for para */
    p {
        color: white;
        font-size: 4vw;
    }

}








/* ...............................css for projects................................. */

.all-proj{
    padding: 10vh;
}


/* .box:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
} */









/* .................................CSS for Skill page..................... */



@media (min-width: 1200px) {

    .container_skill{
        padding-top: 12vh;
    }

    .container_skill h2 {
        color: white;
        text-align: center;
        font-size: 8vh;

    }

    #front_end {
        color: white;
        padding-left: 30vh;
        padding-top: 12vh;
    }

    #back_end {
        color: white;
        padding-left: 30vh;
        padding-top: 12vh;
    }

    .container_skill h5 {
        color: white;
        text-align: left;
        margin: 2vh;

    }

    .meter_top_margin {
        margin-left: 30vh;
        margin-right: 30vh;
    }

    .progress-bar {
        background-color: #ffbd39;
        color: black;
        font-weight: bold;
    }
}


@media (max-width: 1200px) {
    .container_skill {
        margin-top: 5vh;
    }

    .container_skill h2 {
        color: white;
        text-align: center;

    }

    #front_end {
        color: white;
        padding-left: 6vh;
        padding-top: 5vh;
    }

    #back_end {
        color: white;
        padding-left: 6vh;
        padding-top: 5vh;
    }

    .container_skill h5 {
        color: white;
        margin-top: 1vh;
        font-size: 2vh;

    }

    .meter_top_margin {
        margin-left: 4vh;
        margin-right: 4vh;
    }

    .progress-bar {
        background-color: #ffbd39;
        color: black;
        font-weight: bold;
    }
}

.progress-bar {
    animation-name: progress;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}








/* .......................contact page css............................ */


#contact_me {
    text-align: center;
}

.mysite {
    text-decoration: none;
    color: #ffbd39;
}

.zoom_img:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}


@media (min-width: 1200px) {

    .container_contact {
        padding: 10vh;

    }

    #contact_me small {
        color: white;
        width: 100%;
        font-size: 2.2vh;
    }

    .contact_para2 {
        color: white;
        text-align: center;
        width: 100%;
        font-size: 3vh;
        margin-bottom: 10vh;
    }

    #contact_symbol_text {
        color: white;
        text-align: center;
        font-size: 3vh;
    }

    .form_img_col {
        background-color: grey;
        border-left: 15vh solid black;
    }

    .contact_img {
        height: 750px;
        
    }

    .from_text_col {
        background-color: white;
        text-align: center;
        padding-top: 5vh;
        border-right: 15vh solid black;
    }

    #name,
    #email,
    #subject {
        height: 8vh;
        width: 80vh;
        padding: 2vh;
        margin: 2vh;
        border-radius: 2vh;
        border-color: gray;
    }

    #msg {
        height: 20vh;
        width: 80vh;
        padding: 2vh;
        margin: 2vh;
        border-radius: 2vh;
        border-color: gray;
    }

    #form_button {
        margin-top: 6vh;
        border-radius: 20vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 4vh;
        padding-right: 4vh;
        background-color: #ffbd39;
        font-weight: 800;
    }
}

@media (max-width: 1200px) {

    #contact_me small {
        color: white;
        width: 100%;
    }

    .contact_para2 {
        color: white;
        text-align: center;
        width: 100%;
        font-size: 2vh;
        padding-left: 6vh;
        padding-right: 6vh;
    }

    #contact_symbol_text {
        color: white;
        text-align: center;
        font-size: 2.4vh;
    }

    .form_img_col {
        background-color: grey;

    }

    .from_text_col {
        background-color: white;
        text-align: center;
        padding-top: 5vh;
    }

    #name,
    #email,
    #subject {
        padding: 1vh;
        width: 80%;
        border-radius: 2vh;
        border-color: gray;
    }

    #msg {
        width: 80%;
        padding: 2vh;
        border-radius: 2vh;
        border-color: gray;
    }

    #form_button {
        margin-top: 6vh;
        margin-bottom: 3vh;
        border-radius: 20vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 4vh;
        padding-right: 4vh;
        background-color: #ffbd39;
        font-weight: 800;
    }

    .zoom_img {
        padding-top: 2vh;
    }
}









